#
# Copyright (C) 2019 Renesas Electronics Corp.
#

on early-fs
    insmod lib/modules/extcon-core.ko
    insmod lib/modules/extcon-usb-gpio.ko
    insmod lib/modules/phy-rcar-gen3-usb2.ko
    insmod lib/modules/renesas_usbhs.ko

    mkdir -p /config

    setprop sys.usb.controller "11c60000.usb"
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.configfs 1
    start watchdogd

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 20
    oneshot
    seclabel u:r:watchdogd:s0
